name: Build and Maven

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
          cache: 'gradle'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - uses: actions/upload-artifact@v5
        with:
          path: ./build/libs/
      - name: Publish to maven
        if: contains(github.event.head_commit.message, '[push]') || contains(github.event.head_commit.message, '[build]')
        env:
          SAP_SECRET: ${{ secrets.SAP_SECRET }}
        run: ./gradlew publish